.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button {
  background-color: var(--color-grayblue);
  color: var(--color-offwhite);
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--color-grayblue);
}

.button:hover {
  border: 1px solid var(--color-offwhite);
}
