@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-offwhite: #fff9f2;
  --color-darkgray: #282828;
  --darkgray: 40, 40, 40;
  --color-darkgray-o: rgba(var(--darkgray), 0.6);
  --color-grayblue: #353746;
  --color-orange: #f4a261;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  background-color: var(--color-darkgray);
  color: var(--color-offwhite);
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

button:hover {
  cursor: pointer;
}

#root {
  height: 100%;
}
